.btn.btn_blue{
  background: #2fa3dc;
  border-color: #2fa3dc;
  transition: background .3s;
}
.btn.btn_blue:hover,
.btn.btn_blue:active {
  background: #2396cf;
}
.block-opros{
  background: #efefef;
}
.display-4{
  font-size: 25px;
    line-height: 1.3846em;
}
.btn.btn-lg{
  font-size: 1em;
  min-width: 23%;
}
#start{
  background: url(../img/main-bg.jpg) no-repeat center center /cover;
background-position: 80% top;
padding: 18% 0;
}
#start h1 {
  font-size: 40px;
  font-weight: 400;
}
#start .more {
  position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    margin-left: -17px;
    margin-bottom: -140px;
    width: 34px;
    height: 18px;
    background: url(../img/arr-down.png) no-repeat;
    cursor: pointer;
}
